<section class="tab inventory {{tabs.inventory.cssClass}}" data-group="primary" data-tab="inventory" data-application-part="inventory">

    {{!-- Ranged Weapons --}}
    <section class="inventory-section">
        <div class="section-header">
            <i class="fas fa-crosshairs"></i>
            <span>{{localize "NEUROSHIMA.Items.Type.WeaponRanged"}}</span>
            <a class="item-control" data-action="createItem" data-type="weapon" data-weapon-type="ranged" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list ranged-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.weaponsRanged as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editItem"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{else}}
                <div class="inventory-empty">{{localize "NEUROSHIMA.Items.Empty"}}</div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- Melee Weapons --}}
    <section class="inventory-section">
        <div class="section-header">
            <i class="fas fa-fist-raised"></i>
            <span>{{localize "NEUROSHIMA.Items.Type.WeaponMelee"}}</span>
            <a class="item-control" data-action="createItem" data-type="weapon" data-weapon-type="melee" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list melee-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.weaponsMelee as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editItem"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{else}}
                <div class="inventory-empty">{{localize "NEUROSHIMA.Items.Empty"}}</div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- Armor --}}
    <section class="inventory-section">
        <div class="section-header">
            <i class="fas fa-shield-alt"></i>
            <span>{{localize "NEUROSHIMA.Items.Type.Armor"}}</span>
            <div class="armor-penalty-total">
                <span>{{localize "NEUROSHIMA.Armor.TotalPenalty"}}: <strong>{{combat.totalArmorPenalty}}%</strong></span>
            </div>
            <a class="item-control" data-action="createItem" data-type="armor" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>

        {{!-- Armor item list --}}
        <div class="inventory-list armor-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.armor as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editItem"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{else}}
                <div class="inventory-empty">{{localize "NEUROSHIMA.Items.Empty"}}</div>
                {{/each}}
            </div>
        </div>

        {{!-- Anatomical armor grid (equipped armor items, same layout as actor-sheet) --}}
        {{#if inventory.armor.length}}
        <div class="armor-anatomical-grid" style="margin-top: 8px;">
            {{#each anatomicalArmor as |location key|}}
            <div class="armor-location-box armor-{{key}} {{#if location.items.length}}has-items{{else}}empty{{/if}}">
                <div class="location-header">
                    <span class="location-name">{{localize location.label}}</span>
                    {{#if location.items.length}}
                    <span class="location-ap-sum" title="{{localize "NEUROSHIMA.Armor.SumAP"}}">{{location.totalAP}}</span>
                    {{/if}}
                </div>
                {{#if location.items.length}}
                <div class="armor-column-headers">
                    <span class="armor-header-icon"></span>
                    <span class="armor-header-name">{{localize "Name"}}</span>
                    <span class="armor-header-dur">{{localize "NEUROSHIMA.Items.Fields.DurabilityAbbr"}}</span>
                    <span class="armor-header-ap">AP</span>
                </div>
                <div class="location-armor-list">
                    {{#each location.items as |armor|}}
                    <div class="armor-item-row item" data-item-id="{{armor.id}}" draggable="true">
                        <img src="{{armor.img}}" class="armor-icon-tiny" alt="{{armor.name}}">
                        <span class="armor-name-tiny clickable" data-action="editItem">{{armor.name}}</span>
                        <span class="armor-durability clickable {{#if (lt armor.currentDurability armor.durability)}}is-damaged{{/if}}"
                              data-action="modifyDurability"
                              data-item-id="{{armor.id}}"
                              title="LPM: {{localize "NEUROSHIMA.Actions.Repair"}} | PPM: {{localize "NEUROSHIMA.Actions.Damage"}}">
                            {{armor.currentDurability}}
                        </span>
                        <span class="armor-ap-value clickable {{#if (lt armor.currentRating armor.rating)}}is-damaged{{/if}}"
                              data-action="modifyAP"
                              data-item-id="{{armor.id}}"
                              data-location="{{key}}"
                              title="LPM: {{localize "NEUROSHIMA.Actions.Repair"}} | PPM: {{localize "NEUROSHIMA.Actions.Damage"}}">
                            {{armor.currentRating}}
                        </span>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <div class="location-empty">{{localize "NEUROSHIMA.Armor.None"}}</div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </section>

</section>
