<header class="sheet-header" data-application-part="header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}"/>
        </h1>

        <div class="header-stats-row creature-info-row">
            <div class="stat-box creature-type-stat" title="{{localize 'NEUROSHIMA.Creature.Type'}}">
                <label>{{localize "NEUROSHIMA.Creature.TypeAbbr"}}</label>
                <div class="stat-value stat-value-input">
                    <input type="text" name="system.creatureType" value="{{system.creatureType}}"/>
                </div>
            </div>
            <div class="stat-box creature-terrain-stat" title="{{localize 'NEUROSHIMA.Creature.Terrain'}}">
                <label>{{localize "NEUROSHIMA.Creature.TerrainAbbr"}}</label>
                <div class="stat-value stat-value-input">
                    <input type="text" name="system.terrain" value="{{system.terrain}}"/>
                </div>
            </div>
        </div>

        <div class="header-stats-row">
            <div class="stat-box penalty-summary">
                <label>{{localize "NEUROSHIMA.Wound.TotalPenaltyAbbr"}}</label>
                <div class="stat-value">{{combat.totalCombatPenalty}}%</div>
            </div>
            <div class="stat-box hp-summary" title="{{localize 'NEUROSHIMA.Wound.TotalDamage'}}">
                {{#if isGM}}
                <a class="hp-config-btn" data-action="configureHP" title="{{localize 'NEUROSHIMA.Actions.ConfigureHP'}}">
                    <i class="fas fa-cog"></i>
                </a>
                {{/if}}
                <label>HP</label>
                <div class="stat-value">{{combat.totalDamagePoints}} / {{combat.maxHP}}</div>
            </div>
            <div class="stat-box berserker-summary" title="{{localize 'NEUROSHIMA.Creature.BerserkerMode'}}">
                <label>{{localize "NEUROSHIMA.Creature.BerserkerAbbr"}}</label>
                <div class="stat-value">
                    <input type="checkbox" name="system.isBerserker" {{checked system.isBerserker}} class="berserker-checkbox"/>
                </div>
            </div>
        </div>

        <div class="header-stats-row creature-movement-row">
            <div class="stat-box creature-movement-stat">
                <label>{{localize "NEUROSHIMA.Creature.MovementAbbr"}}</label>
                <div class="stat-value stat-value-input">
                    <input type="number" name="system.movement" value="{{system.movement}}" min="0"/>
                </div>
            </div>
            <div class="stat-box creature-aggression-stat">
                <label>{{localize "NEUROSHIMA.Creature.AggressionAbbr"}}</label>
                <div class="stat-value stat-value-input">
                    <input type="number" name="system.aggression" value="{{system.aggression}}" min="0"/>
                </div>
            </div>
        </div>
    </div>
</header>
