<section class="tab tricks {{tabs.tricks.cssClass}}" data-group="primary" data-tab="tricks" data-application-part="tricks">
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Tabs.Tricks"}}</span>
            {{#if isGM}}<a class="item-control" data-action="createItem" data-type="trick" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>{{/if}}
        </div>
        <div class="inventory-list trick-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex5">{{localize "Name"}}</div>
                <div class="item-controls flex1"></div>
            </div>
            <div class="inventory-items">
                {{#each tricks as |item|}}
                <div class="item-wrap" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}">
                    <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                        <div class="item-name flex5">
                            <div class="item-image" style="background-image: url('{{item.img}}')" data-action="toggleSummary"></div>
                            <span class="name clickable" data-action="toggleSummary">{{item.name}}</span>
                        </div>
                        <div class="item-controls flex1">
                            <a class="item-control item-ctx-btn" data-action="itemContextMenu" title="{{localize 'NEUROSHIMA.ContextMenu.Options'}}"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{#with (lookup ../itemManualScripts item.id) as |scripts|}}
                    {{#if scripts}}
                    <div class="sheet-effect-buttons">
                        {{#each scripts as |ms|}}
                        <button class="manual-script-btn" data-action="invokeItemScript"
                               data-item-id="{{ms.itemId}}" data-effect-id="{{ms.effectId}}"
                               data-script-index="{{ms.scriptIndex}}"
                               title="{{ms.effectName}}" type="button">
                            <i class="fas fa-play"></i> {{ms.label}}
                        </button>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{/with}}
                    <div class="item-summary collapsed">
                        <div class="item-description">{{{item.system.description}}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</section>
