<header class="sheet-header" data-application-part="header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" title="{{actor.name}}" height="128" width="128"/>
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}"/>
        </h1>

        <div class="header-details flexrow">
            <div class="header-field">
                <label>{{localize "NEUROSHIMA.Vehicle.Type"}}</label>
                <input type="text" name="system.vehicleType" value="{{system.vehicleType}}"/>
            </div>
            <div class="header-field">
                <label>{{localize "NEUROSHIMA.Vehicle.Condition"}}</label>
                <input type="text" name="system.condition" value="{{system.condition}}"/>
            </div>
        </div>

        <div class="vehicle-attributes-table-wrapper">
            <table class="vehicle-attributes-table">
                <thead>
                    <tr>
                        {{#each vehicleAttributeList as |attr key|}}
                        <th title="{{localize attr.label}}" class="attribute-header-cell">
                            <div class="attribute-abbr">{{localize attr.abbr}}</div>
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    <tr class="attr-section-label-row">
                        <td colspan="6"><strong>{{localize "NEUROSHIMA.Attributes.Base"}}</strong></td>
                    </tr>
                    <tr class="attribute-row">
                        {{#each vehicleAttributeList as |attr key|}}
                        <td>
                            <input type="number" name="system.attributes.{{key}}" value="{{lookup ../system.attributes key}}" min="0" max="40"/>
                        </td>
                        {{/each}}
                    </tr>
                    <tr class="attr-section-label-row">
                        <td colspan="6"><strong>{{localize "NEUROSHIMA.Attributes.Modifier"}}</strong></td>
                    </tr>
                    <tr class="attribute-row">
                        {{#each vehicleAttributeList as |attr key|}}
                        <td>
                            <input type="number" name="system.modifiers.{{key}}" value="{{lookup ../system.modifiers key}}"/>
                        </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vehicle-header-stats-row">
            <div class="vehicle-header-stat">
                {{#if isGM}}
                <a class="hp-config-btn" data-action="configureHP" title="{{localize 'NEUROSHIMA.Actions.ConfigureHP'}}">
                    <i class="fas fa-cog"></i>
                </a>
                {{/if}}
                <label>{{localize "NEUROSHIMA.Vehicle.Hull"}}</label>
                <div class="stat-pair">
                    <input type="number" name="system.hull.value" value="{{system.hull.value}}" min="0"/>
                    <span>/</span>
                    <input type="number" name="system.hull.max" value="{{system.hull.max}}" min="1"/>
                </div>
            </div>
            <div class="vehicle-header-stat">
                <label>{{localize "NEUROSHIMA.Vehicle.Fuel"}}</label>
                <div class="stat-pair">
                    <input type="number" name="system.fuel.value" value="{{system.fuel.value}}" min="0"/>
                    <span>/</span>
                    <input type="number" name="system.fuel.max" value="{{system.fuel.max}}" min="1"/>
                </div>
            </div>
            <div class="vehicle-header-stat">
                <label>{{localize "NEUROSHIMA.Vehicle.Armor"}}</label>
                <input type="number" name="system.armor" value="{{system.armor}}" min="0"/>
            </div>
        </div>
    </div>
</header>
