<section class="tab vehicle-mods {{tabs.mods.cssClass}}" data-group="primary" data-tab="mods" data-application-part="mods">

    <div class="section-header">
        <div class="header-title">
            <i class="fas fa-tools"></i>
            <span>{{localize "NEUROSHIMA.Vehicle.Modifications"}}</span>
        </div>
        <div class="header-actions">
            {{#if owner}}
            <a class="item-control" data-action="createItem" data-type="vehicle-mod"
                title="{{localize 'DOCUMENT.Create'}}">
                <i class="fas fa-plus"></i>
            </a>
            {{/if}}
        </div>
    </div>

    {{#if mods.length}}
    <div class="inventory-items vehicle-mods-list">
        {{#each mods as |mod|}}
        <div class="item draggable flexrow vehicle-mod-row" data-item-id="{{mod.id}}" data-uuid="{{mod.uuid}}" draggable="true">
            <div class="item-image clickable" style="background-image: url('{{mod.img}}')" data-action="editItem" data-item-id="{{mod.id}}"></div>
            <div class="mod-info">
                <span class="mod-name clickable" data-action="editItem" data-item-id="{{mod.id}}">{{mod.name}}</span>
                <span class="mod-category">{{lookup ../modCategoryLabels mod.system.category}}</span>
            </div>
            <div class="mod-difficulty">
                <span title="{{localize 'NEUROSHIMA.VehicleMod.InstallDifficulty'}}">{{lookup ../modDifficultyLabels mod.system.installDifficulty}}</span>
            </div>
            <div class="item-controls">
                <a class="item-control" data-action="editItem" data-item-id="{{mod.id}}"
                    title="{{localize 'NEUROSHIMA.Sheet.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="deleteItem" data-item-id="{{mod.id}}"
                    title="{{localize 'DOCUMENT.Delete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        {{#with (lookup ../itemManualScripts mod.id) as |scripts|}}
        {{#if scripts}}
        <div class="item-script-row" data-item-id="{{mod.id}}">
            {{#each scripts as |ms|}}
            <a class="manual-script-btn" data-action="invokeItemScript"
               data-item-id="{{ms.itemId}}" data-effect-id="{{ms.effectId}}"
               data-script-index="{{ms.scriptIndex}}"
               title="{{ms.effectName}}">
                <i class="fas fa-play"></i> {{ms.label}}
            </a>
            {{/each}}
        </div>
        {{/if}}
        {{/with}}
        {{/each}}
    </div>
    {{else}}
    <p class="empty-list">{{localize "NEUROSHIMA.Vehicle.NoModifications"}}</p>
    {{/if}}

</section>
