<section class="tab vehicle-combat {{tabs.combat.cssClass}}" data-group="primary" data-tab="combat" data-application-part="combat">

    <div class="vehicle-combat-columns">

        {{!-- LEFT: Vehicle Armor (5 sections) --}}
        <div class="vehicle-combat-col">
            <div class="section-header">
                <i class="fas fa-shield-alt"></i>
                <span class="header-label">{{localize "NEUROSHIMA.Vehicle.Armor"}}</span>
            </div>

            <div class="armor-anatomical-grid vehicle-armor-grid">
                {{#each vehicleArmorLocations}}
                <div class="armor-location-box armor-vehicle-{{this.key}} has-items">

                    <div class="location-header">
                        <span class="location-name">{{this.label}}</span>
                        {{#if (gt this.totalEffectiveAP 0)}}
                        <span class="location-ap-sum" data-tooltip="{{this.tooltip}}">{{this.totalEffectiveAP}}</span>
                        {{/if}}
                        <label class="nat-armor-weakpoint-toggle"
                            title="{{localize 'NEUROSHIMA.Creature.NaturalArmor.WeakPoint'}}">
                            <input type="checkbox"
                                name="system.armor.{{this.key}}.weakPoint"
                                {{#if this.weakPoint}}checked{{/if}}/>
                            <img src="systems/neuroshima/assets/img/hazard-sign.svg" class="nat-armor-weakpoint-icon" alt="!"/>
                        </label>
                    </div>

                    {{!-- Equipped armor items for this location --}}
                    {{#if this.items.length}}
                    <div class="armor-column-headers">
                        <span class="armor-header-icon"></span>
                        <span class="armor-header-name">{{localize "Name"}}</span>
                        <span class="armor-header-dur">{{localize "NEUROSHIMA.Items.Fields.DurabilityAbbr"}}</span>
                        <span class="armor-header-ap">AP</span>
                    </div>
                    <div class="location-armor-list">
                        {{#each this.items as |armor|}}
                        <div class="armor-item-row item" data-item-id="{{armor.id}}" draggable="true">
                            <img src="{{armor.img}}" class="armor-icon-tiny" alt="{{armor.name}}">
                            <span class="armor-name-tiny clickable" data-action="editItem">{{armor.name}}</span>
                            <span class="armor-durability clickable {{#if (lt armor.currentDurability armor.durability)}}is-damaged{{/if}}"
                                  data-action="modifyDurability"
                                  data-item-id="{{armor.id}}">{{armor.currentDurability}}</span>
                            <span class="armor-ap-value clickable {{#if (lt armor.currentRating armor.rating)}}is-damaged{{/if}}"
                                  data-action="modifyAP"
                                  data-item-id="{{armor.id}}"
                                  data-location="{{../key}}">{{armor.currentRating}}</span>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}

                </div>
                {{/each}}
            </div>
        </div>

        {{!-- RIGHT: Mounted Ranged Weapons --}}
        <div class="vehicle-combat-col">
            <div class="section-header">
                <i class="fas fa-crosshairs"></i>
                <span class="header-label">{{localize "NEUROSHIMA.Vehicle.MountedWeapons"}}</span>
            </div>

            <div class="inventory-items vehicle-weapons-list">
                {{#each inventory.weaponsRanged as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <span class="item-name weapon-name-rollable clickable" data-action="rollWeapon" data-item-id="{{item.id}}">{{item.name}}</span>
                    <div class="item-controls">
                        <a class="item-control" data-action="toggleEquipped" data-item-id="{{item.id}}"
                            title="{{localize 'NEUROSHIMA.Vehicle.Mounted'}}">
                            <i class="{{#if item.system.equipped}}fas fa-wrench{{else}}far fa-circle{{/if}}"></i>
                        </a>
                        <a class="item-control" data-action="editItem" data-item-id="{{item.id}}"
                            title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                {{else}}
                <p class="empty-list">{{localize "NEUROSHIMA.Vehicle.NoMountedWeapons"}}</p>
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- BOTTOM: Damage / Wounds --}}
    <section class="combat-section wounds-section vehicle-damage-section">
        <div class="section-header">
            <div class="header-title">
                <i class="fas fa-car-crash"></i>
                <span>{{localize "NEUROSHIMA.Vehicle.Damage"}}</span>
            </div>

            <div class="wound-stats-total">
                <span class="hp-sum" title="{{localize 'NEUROSHIMA.Vehicle.DamageSprawnosc'}}">
                    <i class="fas fa-heart-broken"></i> {{combat.totalDamagePoints}} / {{combat.maxHP}}
                </span>
                <span class="penalty-sum" title="{{localize 'NEUROSHIMA.Vehicle.DamageAgilityPenalty'}}">
                    <i class="fas fa-tachometer-alt"></i> {{combat.totalAgilityPenalty}}%
                </span>
            </div>

            <div class="header-actions">
                {{#if owner}}
                <a class="item-control" data-action="createItem" data-type="vehicle-damage" title="{{localize 'DOCUMENT.Create'}}">
                    <i class="fas fa-plus"></i>
                </a>
                {{/if}}
            </div>
        </div>

        <div class="combat-table wounds-table vehicle-damage-table">
            <div class="table-header">
                <div class="col-name">{{localize "Name"}}</div>
                <div class="col-location">{{localize "NEUROSHIMA.Vehicle.DamageLocation"}}</div>
                <div class="col-type">{{localize "NEUROSHIMA.Items.Fields.DamageType"}}</div>
                <div class="col-penalty" title="{{localize 'NEUROSHIMA.Vehicle.DamageSprawnosc'}}">Spr.</div>
                <div class="col-penalty" title="{{localize 'NEUROSHIMA.Vehicle.DamageAgilityPenalty'}}">Zwr.%</div>
                <div class="col-controls"></div>
            </div>
            {{#each combat.wounds}}
            <div class="table-row item" data-item-id="{{this.id}}" data-uuid="{{this.uuid}}" draggable="true">
                <div class="col-name item-name clickable" data-action="editItem">
                    <img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/>
                    <span>{{this.name}}</span>
                </div>
                <div class="col-location">
                    <select name="items.{{this.id}}.system.location">
                        {{selectOptions @root.config.vehicleLocations selected=this.system.location localize=true}}
                    </select>
                </div>
                <div class="col-type">
                    <select name="items.{{this.id}}.system.damageType">
                        {{selectOptions @root.config.vehicleDamageTypes selected=this.system.damageType localize=true}}
                    </select>
                </div>
                <div class="col-penalty">
                    <input type="number" name="items.{{this.id}}.system.penalty" value="{{this.system.penalty}}" data-dtype="Number" min="0"/>
                </div>
                <div class="col-penalty">
                    <input type="number" name="items.{{this.id}}.system.agilityPenalty" value="{{this.system.agilityPenalty}}" data-dtype="Number" min="0"/>
                </div>
                <div class="col-controls">
                    <a class="item-control" data-action="editItem" title="{{localize 'NEUROSHIMA.Sheet.Edit'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-control" data-action="deleteItem" title="{{localize 'DOCUMENT.Delete'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
            {{else}}
            <p class="empty-list">{{localize "NEUROSHIMA.Vehicle.NoDamage"}}</p>
            {{/each}}
        </div>
    </section>

</section>
