<div class="melee-view-root">

{{#if meleeGroups.length}}
<nav class="encounters melee-group-nav">
  {{#if isGM}}
  <button type="button"
          class="inline-control icon fa-solid fa-plus"
          data-action="add-melee-group"
          data-tooltip="{{localize 'NEUROSHIMA.MeleeDuel.AddGroup'}}"
          aria-label="{{localize 'NEUROSHIMA.MeleeDuel.AddGroup'}}">
  </button>
  {{/if}}
  {{#if useMeleePagination}}
  <button type="button"
          class="inline-control icon fa-solid fa-chevron-left"
          data-action="prev-melee-group"
          aria-label="Previous Group">
  </button>
  <span class="melee-group-pager">{{activeGroupNumber}} / {{totalMeleeGroups}}</span>
  <button type="button"
          class="inline-control icon fa-solid fa-chevron-right"
          data-action="next-melee-group"
          aria-label="Next Group">
  </button>
  {{else}}
  {{#each meleeGroups}}
  <button type="button"
          class="inline-control{{#if this.isActive}} active{{/if}}"
          data-action="select-melee-group"
          data-group-id="{{this.id}}"
          title="{{this.name}}">
    {{this.number}}
  </button>
  {{/each}}
  {{/if}}
</nav>
{{/if}}

{{#each meleeGroups}}
{{#if this.isActive}}
<div class="melee-group" data-group-id="{{this.id}}">

  <header class="combat-tracker-header">
    <div class="control-buttons left flexrow">
      {{#if ../isGM}}
      <button type="button"
              class="inline-control combat-control icon fa-solid fa-users-cog"
              data-action="roll-npc-init-group"
              data-tooltip="{{localize 'NEUROSHIMA.MeleeDuel.RollGroupNPCInit'}}"
              aria-label="{{localize 'NEUROSHIMA.MeleeDuel.RollGroupNPCInit'}}">
      </button>
      <button type="button"
              class="inline-control combat-control icon fa-solid fa-user-plus"
              data-action="add-melee-fighter"
              data-tooltip="{{localize 'NEUROSHIMA.MeleeDuel.AddFighters'}}"
              aria-label="{{localize 'NEUROSHIMA.MeleeDuel.AddFighters'}}">
      </button>
      {{/if}}
    </div>
    <strong class="encounter-title">
      {{#if ../round}}{{localize "COMBAT.Round" round=../round}}{{else}}{{localize "COMBAT.NotStarted"}}{{/if}}
    </strong>
    <div class="control-buttons right flexrow">
      <div class="spacer"></div>
      {{#if ../isGM}}
      <button type="button"
              class="inline-control combat-control icon fa-solid fa-trash"
              data-action="remove-melee-group"
              data-group-id="{{this.id}}"
              data-tooltip="{{localize 'NEUROSHIMA.MeleeDuel.RemoveGroup'}}"
              aria-label="{{localize 'NEUROSHIMA.MeleeDuel.RemoveGroup'}}">
      </button>
      {{/if}}
    </div>
  </header>

  {{#if this.fighters.length}}
  <ol class="directory-list melee-group-fighters">
    {{#each this.fighters}}
    <li class="combatant{{#if this.isInitiativeOwner}} active{{/if}}" data-uuid="{{this.uuid}}" data-token-uuid="{{this.tokenUuid}}" data-group-id="{{../id}}">
      {{#if ../../isGM}}
      <a class="combatant-control melee-init-owner-btn{{#if this.isInitiativeOwner}} active{{/if}}"
         data-action="set-initiative-owner"
         data-tooltip="{{localize 'NEUROSHIMA.MeleeDuel.SetInitiativeOwner'}}">
        <i class="fas fa-bolt"></i>
      </a>
      {{/if}}
      <img class="token-image" src="{{this.img}}" title="{{this.name}}"/>
      <div class="token-name">
        <strong class="name">{{this.name}}</strong>
      </div>
      <div class="token-initiative">
        {{#if this.hasInitiative}}
        <span class="initiative">{{this.meleeInitiative}}</span>
        {{else if this.isOwner}}
        <button type="button"
                class="combatant-control melee-roll-init-btn"
                data-action="roll-melee-init"
                data-tooltip="{{localize 'NEUROSHIMA.MeleeDuel.RollMeleeInitiative'}}"
                aria-label="{{localize 'NEUROSHIMA.MeleeDuel.RollMeleeInitiative'}}">
          <i class="fas fa-dice-d20"></i>
        </button>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
  {{/if}}

</div>
{{/if}}
{{/each}}

{{#unless meleeGroups.length}}
{{#if isGM}}
<button type="button" class="melee-create-btn" data-action="add-melee-group">
  <i class="fas fa-plus"></i>
  {{localize "NEUROSHIMA.MeleeDuel.CreateGroup"}}
</button>
{{/if}}
<p class="no-result">{{localize "NEUROSHIMA.MeleeDuel.EmptyMeleeTab"}}</p>
{{/unless}}

</div>
