<ol class="melee-duels-list">
    {{#each activeDuels}}
    <li class="melee-duel-item" data-message-id="{{this.id}}">
        <div class="duel-participants">
            <div class="participant attacker">
                <img src="{{this.attacker.img}}" title="{{this.attacker.name}}">
                <span>{{this.attacker.name}}</span>
            </div>
            <div class="vs">VS</div>
            <div class="participant defender">
                <span>{{this.defender.name}}</span>
                <img src="{{this.defender.img}}" title="{{this.defender.name}}">
            </div>
        </div>
        <div class="duel-info">
            <span>{{localize "NEUROSHIMA.MeleeOpposed.Turn"}} {{this.turn}}</span>
            <a class="open-duel" data-action="openDuel" data-message-id="{{this.id}}">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </li>
    {{else}}
    <li class="none">{{localize "NEUROSHIMA.Warnings.NoMeleeActive"}}</li>
    {{/each}}
</ol>