<div class="active-duels-wrapper">
    {{#if activeDuels.length}}
    <section class="active-duels-section">
        <div class="section-header">
            <i class="fas fa-hand-fist"></i> {{localize "NEUROSHIMA.MeleeOpposed.Duel"}}
        </div>
        <ol class="melee-duels-list">
            {{#each activeDuels}}
            <li class="melee-duel-item {{this.status}}" data-duel-id="{{this.id}}" data-action="openDuel" title="{{localize 'NEUROSHIMA.MeleeOpposed.OpenDuelTracker'}}">
                <div class="duel-participants">
                    <div class="participant attacker" title="{{this.attacker.name}}">
                        <img src="{{this.attacker.img}}">
                    </div>
                    <div class="vs">VS</div>
                    <div class="participant defender" title="{{this.defender.name}}">
                        <img src="{{this.defender.img}}">
                    </div>
                    <div class="duel-meta">
                        <span class="turn">{{localize "NEUROSHIMA.MeleeOpposed.MeleeTurn"}} {{this.turn}} | {{localize "NEUROSHIMA.MeleeOpposed.Segment"}} {{this.currentSegment}}</span>
                        <span class="phase">{{localize (concat "NEUROSHIMA.MeleeOpposed.Phase" (capitalize this.phase))}}</span>
                    </div>
                    <div class="duel-actions">
                        <a class="open-duel" data-action="openDuel" data-duel-id="{{this.id}}" title="{{localize 'NEUROSHIMA.MeleeOpposed.OpenDuelTracker'}}">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        {{#if @root.user.isGM}}
                        <a class="finish-duel" data-action="finishDuel" data-duel-id="{{this.id}}" title="{{localize 'NEUROSHIMA.MeleeOpposed.FinishDuel'}}">
                            <i class="fas fa-times"></i>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}
</div>
