<div class="melee-view-root">

<div class="melee-tab-header">
    <span class="melee-tab-title">{{localize "NEUROSHIMA.MeleeDuel.MeleeInitiativeTitle"}}</span>
    {{#if isGM}}
    <a class="melee-header-btn" data-action="add-melee-group" title="{{localize 'NEUROSHIMA.MeleeDuel.AddGroup'}}">
        <i class="fas fa-folder-plus"></i>
    </a>
    {{/if}}
</div>

{{#each meleeGroups}}
<div class="melee-group" data-group-id="{{this.id}}">
    <div class="melee-group-header">
        <span class="melee-group-name">{{this.name}}</span>
        {{#if ../isGM}}
        <a class="melee-header-btn" data-action="add-melee-fighter" title="{{localize 'NEUROSHIMA.MeleeDuel.AddFighters'}}">
            <i class="fas fa-user-plus"></i>
        </a>
        <a class="melee-header-btn" data-action="roll-npc-init-group" title="{{localize 'NEUROSHIMA.MeleeDuel.RollGroupNPCInit'}}">
            <i class="fas fa-dice-d20"></i>
        </a>
        <a class="melee-header-btn melee-clear-btn" data-action="remove-melee-group" title="{{localize 'NEUROSHIMA.MeleeDuel.RemoveGroup'}}">
            <i class="fas fa-trash"></i>
        </a>
        {{/if}}
    </div>
    {{#if this.fighters.length}}
    <ol class="melee-group-fighters">
        {{#each this.fighters}}
        <li class="combatant" data-uuid="{{this.uuid}}">
            <img class="token-image" src="{{this.img}}" title="{{this.name}}"/>
            <div class="token-name">
                <h4>{{this.name}}</h4>
                {{#if ../../isGM}}
                <div class="combatant-controls">
                    <a class="combatant-control" data-action="remove-melee-fighter" title="{{localize 'NEUROSHIMA.MeleeDuel.RemoveFighter'}}">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                {{/if}}
            </div>
            <div class="token-initiative">
                {{#if this.hasInitiative}}
                <span class="initiative">{{this.meleeInitiative}}</span>
                {{else if this.isOwner}}
                <a class="combatant-control roll" data-action="roll-melee-init" title="{{localize 'NEUROSHIMA.MeleeDuel.RollMeleeInitiative'}}">
                    <i class="fas fa-dice-d20"></i>
                </a>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ol>
    {{else}}
    <div class="melee-group-empty">
        <p>{{localize "NEUROSHIMA.MeleeDuel.EmptyGroup"}}</p>
    </div>
    {{/if}}
</div>
{{/each}}

{{#unless meleeGroups.length}}
<div class="melee-empty-state">
    <p>{{localize "NEUROSHIMA.MeleeDuel.EmptyMeleeTab"}}</p>
</div>
{{/unless}}

</div>
