<div class="hp-config-dialog">
    <div class="hp-config-grid">
        <input type="number" name="critical" value="{{critical}}" min="0" step="1">
        <label>x {{localize "NEUROSHIMA.Damage.Full.K"}} (27)</label>
        
        <input type="number" name="heavy" value="{{heavy}}" min="0" step="1">
        <label>x {{localize "NEUROSHIMA.Damage.Full.C"}} (9)</label>
        
        <input type="number" name="light" value="{{light}}" min="0" step="1">
        <label>x {{localize "NEUROSHIMA.Damage.Full.L"}} (3)</label>
        
        <input type="number" name="scratch" value="{{scratch}}" min="0" step="1">
        <label>x {{localize "NEUROSHIMA.Damage.Full.D"}} (1)</label>
    </div>
</div>
