<div class="melee-log">
  {{#each log}}
    <div class="log-line log-line--{{this.type}}">
      <span class="log-ts">[{{this.turn}}.{{this.segment}}]</span>
      <span class="log-msg">{{{this.text}}}</span>
    </div>
  {{else}}
    <div class="log-empty">—</div>
  {{/each}}
</div>
