<div class="melee-gm-controls">
  <button type="button" class="gm-ctrl" data-action="prevSegment"
          title="{{localize "NEUROSHIMA.MeleeDuel.PrevSegment"}}">
    <i class="fas fa-arrow-left"></i>
  </button>

  <button type="button" class="gm-ctrl" data-action="nextSegment"
          title="{{localize "NEUROSHIMA.MeleeDuel.NextSegment"}}">
    <i class="fas fa-arrow-right"></i>
  </button>

  <span class="gm-ctrl-sep"></span>

  <button type="button" class="gm-ctrl" data-action="prevTurn"
          title="{{localize "NEUROSHIMA.MeleeDuel.PrevTurn"}}">
    <i class="fas fa-backward-step"></i>
  </button>

  <button type="button" class="gm-ctrl" data-action="nextTurn"
          title="{{localize "NEUROSHIMA.MeleeDuel.NextTurn"}}">
    <i class="fas fa-forward-step"></i>
  </button>

  <span class="gm-ctrl-sep"></span>

  <button type="button" class="gm-ctrl gm-ctrl--warn" data-action="resetTurn"
          title="{{localize "NEUROSHIMA.MeleeDuel.ResetTurn"}}">
    <i class="fas fa-undo"></i>
  </button>

  <button type="button" class="gm-ctrl gm-ctrl--danger" data-action="endEncounter"
          title="{{localize "NEUROSHIMA.MeleeDuel.EndEncounter"}}">
    <i class="fas fa-stop"></i>
  </button>
</div>
