<div class="participants-strip">
  <div class="team team-a">
    <div class="team-label">{{localize "NEUROSHIMA.MeleeDuel.TeamA"}}</div>
    {{#each teams.A}}
      <div class="participant-thumb {{#if (eq ../turnState.selectionTurn this)}}current-selection{{/if}}" data-id="{{this}}" title="{{lookup ../participants this 'name'}}">
        <img src="{{lookup ../participants this 'img'}}" width="32" height="32" />
        {{#if (lookup ../participants this 'pool.length')}}
          <span class="pool-ready"><i class="fas fa-check"></i></span>
        {{/if}}
      </div>
    {{/each}}
  </div>
  
  <div class="vs-divider"><i class="fas fa-bolt"></i></div>
  
  <div class="team team-b">
    <div class="team-label">{{localize "NEUROSHIMA.MeleeDuel.TeamB"}}</div>
    {{#each teams.B}}
      <div class="participant-thumb {{#if (eq ../turnState.selectionTurn this)}}current-selection{{/if}}" data-id="{{this}}" title="{{lookup ../participants this 'name'}}">
        <img src="{{lookup ../participants this 'img'}}" width="32" height="32" />
        {{#if (lookup ../participants this 'pool.length')}}
          <span class="pool-ready"><i class="fas fa-check"></i></span>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
