<section class="tab inventory {{tabs.inventory.cssClass}}" data-group="primary" data-tab="inventory" data-application-part="inventory">
    
    {{!-- Encumbrance Bar --}}
    {{#if enableEncumbrance}}
    <div class="encumbrance-bar-container">
        <div class="encumbrance-label">
            <i class="fas fa-weight-hanging" style="color: {{system.encumbrance.color}};"></i>
            <span>{{localize "NEUROSHIMA.Encumbrance"}}: {{system.encumbrance.value}} / {{system.encumbrance.max}} kg</span>
        </div>
        <div class="encumbrance-bar">
            <div class="encumbrance-fill" style="width: {{system.encumbrance.pct}}%; background: {{system.encumbrance.color}};"></div>
        </div>
    </div>
    {{/if}}
    
    {{!-- Ranged Weapons --}}
    {{#if inventory.weaponsRanged.length}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.WeaponRanged"}}</span>
            <a class="item-control" data-action="createItem" data-type="weapon" data-weapon-type="ranged" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list ranged-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-stat quantity text-center quantity-controls">{{localize "NEUROSHIMA.Items.Fields.Quantity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.weaponsRanged as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editItem"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-stat quantity quantity-controls">
                        <span class="quantity-value clickable" data-action="adjustQuantity" data-context-menu title="{{item.system.quantity}}">{{item.system.quantity}}</span>
                    </div>
                    {{#if ../enableEncumbrance}}
                    <div class="item-stat weight weight-controls text-center">
                        <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}

    {{!-- Melee Weapons --}}
    {{#if inventory.weaponsMelee.length}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.WeaponMelee"}}</span>
            <a class="item-control" data-action="createItem" data-type="weapon" data-weapon-type="melee" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list melee-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-stat quantity text-center quantity-controls">{{localize "NEUROSHIMA.Items.Fields.Quantity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.weaponsMelee as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editItem"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-stat quantity quantity-controls">
                        <span class="quantity-value clickable" data-action="adjustQuantity" data-context-menu title="{{item.system.quantity}}">{{item.system.quantity}}</span>
                    </div>
                    {{#if ../enableEncumbrance}}
                    <div class="item-stat weight weight-controls text-center">
                        <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}

    {{!-- Thrown Weapons --}}
    {{#if inventory.weaponsThrown.length}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.WeaponThrown"}}</span>
            <a class="item-control" data-action="createItem" data-type="weapon" data-weapon-type="thrown" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list thrown-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-stat quantity text-center quantity-controls">{{localize "NEUROSHIMA.Items.Fields.Quantity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.weaponsThrown as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editItem"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-stat quantity quantity-controls">
                        <span class="quantity-value clickable" data-action="adjustQuantity" data-context-menu title="{{item.system.quantity}}">{{item.system.quantity}}</span>
                    </div>
                    {{#if ../enableEncumbrance}}
                    <div class="item-stat weight weight-controls text-center">
                        <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}

    {{!-- Armor --}}
    {{#if inventory.armor.length}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.Armor"}}</span>
            <a class="item-control" data-action="createItem" data-type="armor" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list armor-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-stat quantity text-center quantity-controls">{{localize "NEUROSHIMA.Items.Fields.Quantity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.armor as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editImage"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped text-center">
                        <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                            <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                        </a>
                    </div>
                    <div class="item-stat quantity quantity-controls">
                        <span class="quantity-value clickable" data-action="adjustQuantity" data-context-menu title="{{item.system.quantity}}">{{item.system.quantity}}</span>
                    </div>
                    {{#if ../enableEncumbrance}}
                    <div class="item-stat weight weight-controls text-center">
                        <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}

    {{!-- Gear --}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.Gear"}}</span>
            <a class="item-control" data-action="createItem" data-type="gear" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list gear-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped"></div>
                <div class="item-stat quantity text-center quantity-controls">{{localize "NEUROSHIMA.Items.Fields.Quantity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.gear as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editImage"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped"></div>
                    <div class="item-stat quantity quantity-controls">
                        <span class="quantity-value clickable" data-action="adjustQuantity" data-context-menu title="{{item.system.quantity}}">{{item.system.quantity}}</span>
                    </div>
                    {{#if ../enableEncumbrance}}
                    <div class="item-stat weight weight-controls text-center">
                        <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- Ammunition --}}
    {{!-- Magazines --}}
    {{#if inventory.magazines.length}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.Magazines"}}</span>
            <a class="item-control" data-action="createItem" data-type="magazine" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list magazine-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped text-center">{{localize "NEUROSHIMA.Items.Fields.EquippedAbbr"}}</div>
                <div class="item-stat quantity text-center">{{localize "NEUROSHIMA.Items.Fields.Capacity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.magazines as |item|}}
                <div class="magazine-container magazine-item-row" data-item-id="{{item.id}}">
                    <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                        <div class="item-name flex3">
                            <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editImage"></div>
                            <span class="name clickable" data-action="editItem">{{item.name}} ({{item.system.totalCount}} / {{item.system.capacity}})</span>
                        </div>
                        <div class="item-stat equipped text-center">
                            <a class="item-control toggle-equipped" data-action="toggleEquipped" title="{{localize 'NEUROSHIMA.Items.Fields.Equipped'}}">
                                <i class="{{#if item.system.equipped}}fas fa-check-circle{{else}}far fa-circle{{/if}}"></i>
                            </a>
                        </div>
                        <div class="item-stat quantity text-center">
                            <span>{{item.system.capacity}}</span>
                        </div>
                        {{#if ../enableEncumbrance}}
                        <div class="item-stat weight weight-controls text-center">
                            <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                        </div>
                        {{/if}}
                        <div class="item-controls">
                            <a class="item-control" data-action="unloadMagazine" title="{{localize 'NEUROSHIMA.Actions.Unload'}}"><i class="fas fa-eject"></i></a>
                            <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{#if item.contentsReversed.length}}
                    <div class="magazine-contents flexcol">
                        {{#each item.contentsReversed as |ammoStack|}}
                        <div class="ammo-stack flexrow">
                            <div class="stack-indicator"></div>
                            <div class="stack-name flex3">{{ammoStack.name}} ({{ammoStack.quantity}})</div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}

    {{!-- Ammo --}}
    {{#if inventory.ammo.length}}
    <section class="inventory-section">
        <div class="section-header">
            <span>{{localize "NEUROSHIMA.Items.Type.Ammo"}}</span>
            <a class="item-control" data-action="createItem" data-type="ammo" title="{{localize 'DOCUMENT.Create'}}"><i class="fas fa-plus"></i></a>
        </div>
        <div class="inventory-list ammo-list">
            <div class="inventory-list-header flexrow">
                <div class="item-name flex3">{{localize "Name"}}</div>
                <div class="item-stat equipped"></div>
                <div class="item-stat quantity text-center quantity-controls">{{localize "NEUROSHIMA.Items.Fields.Quantity"}}</div>
                {{#if enableEncumbrance}}
                <div class="item-stat weight text-center">{{localize "NEUROSHIMA.Items.Fields.Weight"}}</div>
                {{/if}}
                <div class="item-controls"></div>
            </div>
            <div class="inventory-items">
                {{#each inventory.ammo as |item|}}
                <div class="item draggable flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}" draggable="true">
                    <div class="item-name flex3">
                        <div class="item-image clickable" style="background-image: url('{{item.img}}')" data-action="editImage"></div>
                        <span class="name clickable" data-action="editItem">{{item.name}}</span>
                    </div>
                    <div class="item-stat equipped"></div>
                    <div class="item-stat quantity quantity-controls">
                        <span class="quantity-value clickable" data-action="adjustQuantity" data-context-menu title="{{item.system.quantity}}">{{item.system.quantity}}</span>
                    </div>
                    {{#if ../enableEncumbrance}}
                    <div class="item-stat weight weight-controls text-center">
                        <span class="weight-value" title="{{item.system.totalWeight}}">{{item.system.totalWeight}}</span>
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control" data-action="editItem" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-action="deleteItem" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}
</section>