{{#if effectActions.length}}
<section class="ns-effect-actions" aria-label="Akcje efektów">
  {{#each effectActions}}
  <button type="button" class="ns-effect-action {{#if used}}is-used{{/if}}"
          data-action="executeEffectAction" data-instance-id="{{instanceId}}"
          {{#if used}}disabled{{/if}} {{#if tooltipHtml}}data-tooltip="{{tooltipHtml}}"{{/if}}>
    {{#if img}}<img src="{{img}}" alt="">{{else}}<i class="fas fa-bolt"></i>{{/if}}
    <span class="ns-effect-action__name">{{name}}</span>
    {{#if resource.key}}<span class="ns-effect-action__cost">−{{resource.cost}}</span>{{/if}}
  </button>
  {{/each}}
</section>
{{/if}}
