<div class="neuroshima roll-card weapon-roll-card melee {{rollMode}}" 
    data-weapon-id="{{weaponId}}"
    data-actor-id="{{actorId}}">
    
    <header class="roll-header">
        <div class="actor-image-container" {{#if showTooltip}}data-tooltip="{{tooltip}}" data-tooltip-direction="LEFT"{{/if}}>
            <img src="{{actorImg}}" width="32" height="32" />
        </div>
        <div class="header-details">
            <div class="weapon-title">
                {{#if isReroll}}<span class="reroll-tag">[{{localize "NEUROSHIMA.Roll.Reroll"}}]</span> {{/if}}
                {{label}}
            </div>
            <div class="test-type">
                {{#if (eq meleeAction "attack")}}{{localize "NEUROSHIMA.Actions.Attack"}}{{else}}{{localize "NEUROSHIMA.Actions.Defense"}}{{/if}}
            </div>
        </div>
    </header>
    <hr class="dotted-hr">

    {{#if meleeTargets}}
    <div class="melee-targets">
        <span class="label">{{localize "NEUROSHIMA.Roll.Targets"}}:</span>
        <div class="targets-list">
            {{#each meleeTargets}}
            <div class="target-item" data-actor-id="{{this.id}}">
                <img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/>
                <span class="name">{{this.name}}</span>
            </div>
            {{/each}}
        </div>
    </div>
    <hr class="dotted-hr">
    {{/if}}

    <div class="weapon-details">
        <div class="detail-item">
            <span class="label">Lokacja:</span>
            <span class="value"><strong>{{localize locationLabel}}</strong> {{#if locationRoll}}({{locationRoll}}){{/if}}</span>
        </div>
        {{#if damage}}
        <div class="detail-item">
            <span class="label">Obrażenia:</span>
            <span class="value"><strong>{{damage}}</strong></span>
        </div>
        {{/if}}
    </div>

    <div class="dice-results-grid">
        {{#each rawResults}}
            <div class="die-result">
                <span class="die-label">
                    D{{add @index 1}} =
                </span>
                <div class="die-square-container">
                    <span class="die-square original {{#if this.isNat1}}nat-1{{/if}} {{#if this.isNat20}}nat-20{{/if}}">
                        {{this.value}}
                    </span>
                </div>
            </div>
        {{/each}}
    </div>

    <footer class="roll-outcome">
        <div class="outcome-item status-waiting">
            <span class="value"><i>{{#if (eq meleeAction "attack")}}{{localize "NEUROSHIMA.MeleeOpposed.WaitingForDefense"}}{{else}}{{localize "NEUROSHIMA.MeleeOpposed.WaitingForDuel"}}{{/if}}</i></span>
        </div>
    </footer>
</div>
