<div class="neuroshima roll-card melee-duel-started">
    <header class="roll-header">
        <div class="actor-image-container">
            <img src="{{attackerImg}}" width="32" height="32" />
        </div>
        <div class="header-details">
            <div class="weapon-title">
                {{localize "NEUROSHIMA.MeleeOpposed.DuelStarted"}}
            </div>
            <div class="test-type">
                {{attackerName}} ({{weaponName}})
            </div>
        </div>
    </header>
    <hr class="dotted-hr">
    <div class="duel-instruction">
        <p><strong>{{attackerName}}</strong> {{localize "NEUROSHIMA.MeleeOpposed.AttackInstruction"}}</p>
    </div>
</div>
