<div class="neuroshima roll-card weapon-roll-card melee {{rollMode}}" 
    data-weapon-id="{{weaponId}}"
    data-actor-id="{{actorId}}"
    {{#if showTooltip}}
    data-tooltip="<strong>{{localize 'NEUROSHIMA.Items.Fields.BaseDifficulty'}}:</strong> {{localize difficultyLabel}} ({{penalties.base}}%)<br>
                  <strong>{{localize 'NEUROSHIMA.Roll.Modifier'}}:</strong> {{penalties.mod}}%<br>
                  <strong>{{localize 'NEUROSHIMA.Roll.PenaltyArmor'}}:</strong> {{penalties.armor}}%<br>
                  <strong>{{localize 'NEUROSHIMA.Roll.PenaltyWounds'}}:</strong> {{penalties.wounds}}%<br>
                  {{#if penalties.location}}<strong>{{localize 'NEUROSHIMA.Roll.HitLocation'}}:</strong> {{penalties.location}}%<br>{{/if}}
                  <strong>{{localize 'NEUROSHIMA.Roll.TotalModifier'}}:</strong> {{totalPenalty}}%<br>
                  <hr>
                  <strong>{{localize 'NEUROSHIMA.Attributes.Attributes'}}:</strong> {{baseStat}}<br>
                  {{#if (ne attributeBonus 0)}}<strong>{{localize 'NEUROSHIMA.Roll.AttributeBonusAbbr'}}:</strong> {{attributeBonus}}<br>{{/if}}
                  <strong>{{localize 'NEUROSHIMA.Items.Fields.Skill'}}:</strong> {{baseSkill}}<br>
                  {{#if (ne skillBonus 0)}}<strong>{{localize 'NEUROSHIMA.Roll.SkillBonusAbbr'}}:</strong> {{skillBonus}}<br>{{/if}}
                  <strong>{{localize 'NEUROSHIMA.Roll.Target'}}:</strong> {{target}}"
    data-tooltip-direction="LEFT"
    {{/if}}>
    
    <header class="roll-header">
        <div class="weapon-title">
            {{#if isReroll}}<span class="reroll-tag">[{{localize "NEUROSHIMA.Roll.Reroll"}}]</span> {{/if}}
            {{label}}
        </div>
        <div class="test-type">
            {{#if (eq meleeAction "attack")}}{{localize "NEUROSHIMA.Actions.Attack"}}{{else}}{{localize "NEUROSHIMA.Actions.Defense"}}{{/if}}
        </div>
    </header>
    <hr class="dotted-hr">

    {{#if meleeTargets}}
    <div class="melee-targets">
        <span class="label">{{localize "NEUROSHIMA.Roll.Targets"}}:</span>
        <div class="targets-list">
            {{#each meleeTargets}}
            <div class="target-item" data-actor-id="{{this.id}}">
                <img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/>
                <span class="name">{{this.name}}</span>
            </div>
            {{/each}}
        </div>
    </div>
    <hr class="dotted-hr">
    {{/if}}

    <div class="weapon-details">
        <div class="detail-item">
            <span class="label">Lokacja:</span>
            <span class="value"><strong>{{localize locationLabel}}</strong> {{#if locationRoll}}({{locationRoll}}){{/if}}</span>
        </div>
        {{#if damage}}
        <div class="detail-item">
            <span class="label">Obrażenia:</span>
            <span class="value"><strong>{{damage}}</strong></span>
        </div>
        {{/if}}
    </div>

    <div class="dice-results-grid">
        {{#each rawResults}}
            <div class="die-result">
                <span class="die-label">
                    D{{add @index 1}} =
                </span>
                <div class="die-square-container">
                    <span class="die-square original {{#if this.isNat1}}nat-1{{/if}} {{#if this.isNat20}}nat-20{{/if}}">
                        {{this.value}}
                    </span>
                </div>
            </div>
        {{/each}}
    </div>

    <footer class="roll-outcome">
        <div class="outcome-item status-waiting">
            <span class="value"><i>{{#if (eq meleeAction "attack")}}{{localize "NEUROSHIMA.MeleeOpposed.WaitingForDefense"}}{{else}}{{localize "NEUROSHIMA.MeleeOpposed.WaitingForDuel"}}{{/if}}</i></span>
        </div>
    </footer>
</div>
