<div class="neuroshima roll-card melee-turn-summary">
    <header class="roll-header">
        <div class="header-details">
            <div class="weapon-title">
                {{localize "NEUROSHIMA.MeleeOpposed.TurnSummary"}} {{turn}}
            </div>
            <div class="test-type">
                {{attackerName}} vs {{defenderName}}
            </div>
        </div>
    </header>
    <hr class="dotted-hr">
    <div class="summary-content">
        <ul class="segment-list">
            {{#each segments}}
            <li class="segment-item">
                <span class="seg-label"><strong>{{localize "NEUROSHIMA.MeleeOpposed.Segment"}} {{add @index 1}}:</strong></span>
                <div class="seg-actions">
                    {{#if this.result}}
                        <div class="action attacker-hit">
                            <i class="fas fa-swords"></i> {{../attackerName}} &rarr; <strong>{{this.result}}</strong>
                        </div>
                    {{/if}}
                    {{#if this.resultDefender}}
                        <div class="action defender-hit">
                            <i class="fas fa-shield-alt"></i> {{../defenderName}} &rarr; <strong>{{this.resultDefender}}</strong>
                        </div>
                    {{/if}}
                    {{#if (and (not this.result) (not this.resultDefender))}}
                        <div class="action draw">
                            <i class="fas fa-handshake"></i> {{localize "NEUROSHIMA.MeleeOpposed.Draw"}}
                        </div>
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
