<div class="effects-section">
  <div class="items-header">
    <div class="header-icon"></div>
    <div class="header-name">{{localize "NEUROSHIMA.Effects"}}</div>
    <div class="header-controls">
      {{#if editable}}
        <a class="item-control effect-create" title="{{localize 'NEUROSHIMA.CreateEffect'}}" data-action="create">
          <i class="fas fa-plus"></i>
        </a>
      {{/if}}
    </div>
  </div>
  
  <ol class="items-list effects-list">
    {{#each effects as |category key|}}
      {{#if category.effects}}
        {{#each category.effects as |effect|}}
          <li class="item effect" data-item-id="{{effect._id}}" data-effect-id="{{effect._id}}">
            <div class="item-image effect-click" style="cursor: pointer;">
              <img src="{{effect.icon}}" alt="{{effect.name}}" title="{{effect.name}}" width="32" height="32"/>
            </div>
            <h4 class="item-name effect-click {{#if effect.disabled}}disabled{{/if}}" style="cursor: pointer;">{{effect.name}}</h4>
            {{#if editable}}
            <div class="item-controls effect-controls">
              <a class="item-control effect-edit" title="{{localize 'NEUROSHIMA.EditEffect'}}" data-action="edit">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control effect-toggle" title="{{localize 'NEUROSHIMA.ToggleEffect'}}" data-action="toggle">
                <i class="fas fa-circle-notch"></i>
              </a>
              <a class="item-control effect-delete" title="{{localize 'NEUROSHIMA.DeleteEffect'}}" data-action="delete">
                <i class="fas fa-trash"></i>
              </a>
            </div>
            {{/if}}
          </li>
        {{/each}}
      {{/if}}
    {{/each}}
  </ol>
  
  {{#unless (anyEffects effects)}}
  <div class="effects-list-empty">
    <p>{{localize 'NEUROSHIMA.NoEffects'}}</p>
  </div>
  {{/unless}}
</div>
