<section class="tab effect-duration {{tabs.duration.cssClass}}" data-group="sheet" data-tab="duration" data-application-part="duration">
    <div class="form-group row-group">
        <label>{{localize "NEUROSHIMA.Effects.Duration.Rounds"}}</label>
        <input type="number" name="duration.rounds" value="{{effect.duration.rounds}}" min="0">
    </div>
    <div class="form-group row-group">
        <label>{{localize "NEUROSHIMA.Effects.Duration.Turns"}}</label>
        <input type="number" name="duration.turns" value="{{effect.duration.turns}}" min="0">
    </div>
    <div class="form-group row-group">
        <label>{{localize "NEUROSHIMA.Effects.Duration.Seconds"}}</label>
        <input type="number" name="duration.seconds" value="{{effect.duration.seconds}}" min="0">
    </div>
</section>
