<div class="melee-tracker-content">
    <div class="duel-status-info">
        <div class="turn-counter">
            {{localize "NEUROSHIMA.MeleeOpposed.Turn"}} {{turn}}
        </div>
        <div class="segment-info">
            {{localize "NEUROSHIMA.MeleeOpposed.Segment"}} {{currentSegment}} / 3
        </div>
    </div>
    <div class="dice-pools">
        {{!-- Pula Atakującego --}}
        <div class="dice-pool attacker {{#if (eq initiative 'attacker')}}has-initiative{{/if}} {{#if attackerActive}}active{{/if}}">
            <div class="pool-title" {{#if (or isAttacker isGM)}}data-tooltip="{{attacker.rollTooltip}}"{{/if}}>
                {{localize "NEUROSHIMA.Actions.Attack"}}
            </div>
            <div class="dice-grid">
                {{#if attackerDice.length}}
                    {{#each attackerDice}}
                        <div class="die-container {{#if this.spent}}spent{{/if}} {{#if this.selected}}selected{{/if}}" 
                             data-index="{{@index}}" data-owner="attacker">
                            
                            {{#if (and ../canModify ../doubleSkillAction)}}
                                <div class="die-mods">
                                    <button type="button" data-action="modDie" data-side="attacker" data-target-side="attacker" data-index="{{@index}}" data-delta="1" {{#if (not ../isAttacker)}}disabled{{/if}}>-</button>
                                    <button type="button" data-action="modDie" data-side="defender" data-target-side="attacker" data-index="{{@index}}" data-delta="1" {{#if (not ../isDefender)}}disabled{{/if}}>+</button>
                                </div>
                            {{/if}}

                            <div class="die {{#if this.isSuccess}}success{{else}}failure{{/if}} {{#if this.isNat20}}nat-20{{/if}} {{#if this.selected}}selected{{/if}}"
                                 {{#if ../canSelect}}data-action="selectDie" data-index="{{@index}}" data-role="attacker"{{/if}}>
                                {{this.modified}}
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    {{#if attackerCanRoll}}
                        {{#if isAttacker}}
                            <button type="button" class="reroll-btn" data-action="reroll3k20" data-role="attacker">
                                <i class="fas fa-dice"></i> {{localize "NEUROSHIMA.MeleeOpposed.Roll3k20"}}
                            </button>
                        {{else}}
                            <div class="waiting">{{localize "NEUROSHIMA.MeleeOpposed.WaitingForRoll"}}</div>
                        {{/if}}
                    {{else}}
                        <div class="waiting">
                            {{#if (eq phase PHASES.INITIATIVE)}}
                                {{localize "NEUROSHIMA.MeleeOpposed.WaitingForDuel"}}
                            {{else}}
                                {{localize "NEUROSHIMA.MeleeOpposed.WaitingForRoll"}}
                            {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>

        {{!-- Pula Obrońcy --}}
        <div class="dice-pool defender {{#if (eq initiative 'defender')}}has-initiative{{/if}} {{#if defenderActive}}active{{/if}}">
            <div class="pool-title" {{#if (or isDefender isGM)}}data-tooltip="{{defender.rollTooltip}}"{{/if}}>
                {{localize "NEUROSHIMA.Actions.Defense"}}
            </div>
            <div class="dice-grid">
                {{#if defenderDice.length}}
                    {{#each defenderDice}}
                        <div class="die-container {{#if this.spent}}spent{{/if}} {{#if this.selected}}selected{{/if}}" 
                             data-index="{{@index}}" data-owner="defender">
                            
                            {{#if (and ../canModify ../doubleSkillAction)}}
                                <div class="die-mods">
                                    <button type="button" data-action="modDie" data-side="defender" data-target-side="defender" data-index="{{@index}}" data-delta="1" {{#if (not ../isDefender)}}disabled{{/if}}>-</button>
                                    <button type="button" data-action="modDie" data-side="attacker" data-target-side="defender" data-index="{{@index}}" data-delta="1" {{#if (not ../isAttacker)}}disabled{{/if}}>+</button>
                                </div>
                            {{/if}}

                            <div class="die {{#if this.isSuccess}}success{{else}}failure{{/if}} {{#if this.isNat20}}nat-20{{/if}} {{#if this.selected}}selected{{/if}}"
                                 {{#if ../canSelect}}data-action="selectDie" data-index="{{@index}}" data-role="defender"{{/if}}>
                                {{this.modified}}
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    {{#if defenderCanRoll}}
                        {{#if isDefender}}
                            <button type="button" class="reroll-btn" data-action="reroll3k20" data-role="defender">
                                <i class="fas fa-dice"></i> {{localize "NEUROSHIMA.MeleeOpposed.Roll3k20"}}
                            </button>
                        {{else}}
                            <div class="waiting">{{localize "NEUROSHIMA.MeleeOpposed.WaitingForRoll"}}</div>
                        {{/if}}
                    {{else}}
                        <div class="waiting">
                            {{#if (eq phase PHASES.INITIATIVE)}}
                                {{localize "NEUROSHIMA.MeleeOpposed.WaitingForDuel"}}
                            {{else}}
                                {{localize "NEUROSHIMA.MeleeOpposed.WaitingForRoll"}}
                            {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
