<div class="ns-script-editor-body standard-form">
    <div class="form-group">
        <label>{{localize "NEUROSHIMA.Scripts.Label"}}</label>
        <div class="form-fields">
            <input type="text" name="label" value="{{scriptData.label}}" placeholder="{{localize 'NEUROSHIMA.Scripts.LabelPlaceholder'}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "NEUROSHIMA.Scripts.Trigger.Label"}}</label>
        <div class="form-fields">
            <select name="trigger">
                {{#each triggers}}
                <option value="{{@key}}" {{#if (eq @key ../scriptData.trigger)}}selected{{/if}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "NEUROSHIMA.Scripts.RunIfDisabled"}}</label>
        <div class="form-fields">
            <p class="hint">{{localize "NEUROSHIMA.Scripts.RunIfDisabledHint"}}</p>
            <input type="checkbox" name="runIfDisabled" {{#if scriptData.runIfDisabled}}checked{{/if}}>
        </div>
    </div>

    <div class="form-group stacked ns-script-code-group">
        <label>{{localize "NEUROSHIMA.Scripts.Code"}}</label>
        <code-mirror name="code" language="javascript" indent="4">{{scriptData.code}}</code-mirror>
    </div>

    <footer class="form-footer">
        <button type="submit">
            <i class="fa-solid fa-floppy-disk"></i> {{localize "NEUROSHIMA.Sheet.SaveAndFinish"}}
        </button>
    </footer>
</div>
