<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
  {{!-- Main header with icon and name --}}
  <header class="sheet-header">
    <div class="header-main">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="80" width="80"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'NEUROSHIMA.ItemName'}}"/></h1>
      </div>
    </div>
  </header>

  {{!-- Navigation tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">Statystyki</a>
    <a class="item" data-tab="description">Opis</a>
    <a class="item" data-tab="effects">Efekty</a>
  </nav>

  {{!-- Sheet body --}}
  <section class="sheet-body">
    
    {{!-- Stats Tab --}}
    <div class="tab" data-group="primary" data-tab="stats">
      
      {{!-- Basic Properties with Equipped Checkbox --}}
      <div class="basic-properties-row">
        <div class="compact-field">
          <div class="form-group">
            <div class="label-wrapper"><label>{{localize "NEUROSHIMA.Weight"}}</label></div>
            <div class="input-wrapper"><input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" step="0.1"/></div>
          </div>
        </div>
        <div class="compact-field">
          <div class="form-group">
            <div class="label-wrapper"><label>{{localize "NEUROSHIMA.Cost"}}</label></div>
            <div class="input-wrapper"><input type="number" name="system.cost" value="{{system.cost}}" data-dtype="Number"/></div>
          </div>
        </div>
        <div class="compact-field">
          <div class="form-group">
            <div class="label-wrapper"><label>{{localize "NEUROSHIMA.Quantity"}}</label></div>
            <div class="input-wrapper"><input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="1"/></div>
          </div>
        </div>
        <div class="equipped-field">
          <div class="form-group">
            <div class="label-wrapper">
              <label class="checkbox">
                <input type="checkbox" name="system.equipable" {{checked system.equipable}} data-dtype="Boolean"/>
                {{localize "NEUROSHIMA.Equipable"}}
              </label>
            </div>
          </div>
        </div>
      </div>

      {{!-- Attribute, Skill, and Build Selection - TOP PRIORITY --}}
      <div class="form-group-row priority-section">
        <div class="form-group">
          <label>{{localize "NEUROSHIMA.Attribute"}}</label>
          <select name="system.attribute" id="attribute-select">
            <option value="zr" {{#if (eq system.attribute "zr")}}selected{{/if}}>{{localize "NEUROSHIMA.AbilityZR"}}</option>
            <option value="pc" {{#if (eq system.attribute "pc")}}selected{{/if}}>{{localize "NEUROSHIMA.AbilityPC"}}</option>
            <option value="ch" {{#if (eq system.attribute "ch")}}selected{{/if}}>{{localize "NEUROSHIMA.AbilityCH"}}</option>
            <option value="sp" {{#if (eq system.attribute "sp")}}selected{{/if}}>{{localize "NEUROSHIMA.AbilitySP"}}</option>
            <option value="bd" {{#if (eq system.attribute "bd")}}selected{{/if}}>{{localize "NEUROSHIMA.AbilityBD"}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{{localize "NEUROSHIMA.Skill"}}</label>
          <select name="system.skill" id="skill-select">
            {{!-- Dynamically populated by JS --}}
          </select>
        </div>
        <div class="form-group">
          <label>BUDOWA</label>
          <input type="number" name="system.requiredBuild" value="{{system.requiredBuild}}" data-dtype="Number" min="0" max="100"/>
        </div>
      </div>

      {{!-- Damage System --}}
      <div class="damage-section">
        <h3>{{localize "NEUROSHIMA.DamageSystem"}}</h3>
        <div class="damage-row">
          <div class="damage-item">
            <label title="1 sukces">1</label>
            <select name="system.damage.oneSuccess">
              <option value="D" {{#if (eq system.damage.oneSuccess "D")}}selected{{/if}}>D</option>
              <option value="sD" {{#if (eq system.damage.oneSuccess "sD")}}selected{{/if}}>sD</option>
              <option value="L" {{#if (eq system.damage.oneSuccess "L")}}selected{{/if}}>L</option>
              <option value="sL" {{#if (eq system.damage.oneSuccess "sL")}}selected{{/if}}>sL</option>
              <option value="C" {{#if (eq system.damage.oneSuccess "C")}}selected{{/if}}>C</option>
              <option value="sC" {{#if (eq system.damage.oneSuccess "sC")}}selected{{/if}}>sC</option>
              <option value="K" {{#if (eq system.damage.oneSuccess "K")}}selected{{/if}}>K</option>
              <option value="sK" {{#if (eq system.damage.oneSuccess "sK")}}selected{{/if}}>sK</option>
            </select>
          </div>
          <div class="damage-item">
            <label title="2 sukcesy">2</label>
            <select name="system.damage.twoSuccess">
              <option value="D" {{#if (eq system.damage.twoSuccess "D")}}selected{{/if}}>D</option>
              <option value="sD" {{#if (eq system.damage.twoSuccess "sD")}}selected{{/if}}>sD</option>
              <option value="L" {{#if (eq system.damage.twoSuccess "L")}}selected{{/if}}>L</option>
              <option value="sL" {{#if (eq system.damage.twoSuccess "sL")}}selected{{/if}}>sL</option>
              <option value="C" {{#if (eq system.damage.twoSuccess "C")}}selected{{/if}}>C</option>
              <option value="sC" {{#if (eq system.damage.twoSuccess "sC")}}selected{{/if}}>sC</option>
              <option value="K" {{#if (eq system.damage.twoSuccess "K")}}selected{{/if}}>K</option>
              <option value="sK" {{#if (eq system.damage.twoSuccess "sK")}}selected{{/if}}>sK</option>
            </select>
          </div>
          <div class="damage-item">
            <label title="3 sukcesy">3</label>
            <select name="system.damage.threeSuccess">
              <option value="D" {{#if (eq system.damage.threeSuccess "D")}}selected{{/if}}>D</option>
              <option value="sD" {{#if (eq system.damage.threeSuccess "sD")}}selected{{/if}}>sD</option>
              <option value="L" {{#if (eq system.damage.threeSuccess "L")}}selected{{/if}}>L</option>
              <option value="sL" {{#if (eq system.damage.threeSuccess "sL")}}selected{{/if}}>sL</option>
              <option value="C" {{#if (eq system.damage.threeSuccess "C")}}selected{{/if}}>C</option>
              <option value="sC" {{#if (eq system.damage.threeSuccess "sC")}}selected{{/if}}>sC</option>
              <option value="K" {{#if (eq system.damage.threeSuccess "K")}}selected{{/if}}>K</option>
              <option value="sK" {{#if (eq system.damage.threeSuccess "sK")}}selected{{/if}}>sK</option>
            </select>
          </div>
        </div>
      </div>

      {{!-- Bonuses --}}
      <div class="form-group-row">
        <div class="form-group">
          <label>{{localize "NEUROSHIMA.BonusAttack"}}</label>
          <input type="number" name="system.bonusAttack" value="{{system.bonusAttack}}" data-dtype="Number" min="-99" max="99"/>
        </div>
        <div class="form-group">
          <label>{{localize "NEUROSHIMA.BonusDefense"}}</label>
          <input type="number" name="system.bonusDefense" value="{{system.bonusDefense}}" data-dtype="Number" min="-99" max="99"/>
        </div>
      </div>

    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="editor-container">
        {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> "systems/neuroshima/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>